Lab 5/obj/Lab 5.csproj.nuget.dgspec.json
Lab 5/obj/project.assets.json
Lab 5/obj/project.nuget.cache
Lab 5/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Lab 5/obj/Debug/net8.0/Lab 5.AssemblyInfo.cs
Lab 5/obj/Debug/net8.0/Lab 5.AssemblyInfoInputs.cache
Lab 5/obj/Debug/net8.0/Lab 5.assets.cache
Lab 5/obj/Debug/net8.0/Lab 5.GeneratedMSBuildEditorConfig.editorconfig
